<div class="col-md-12">
    <mat-card>
        <mat-card-header><mat-card-title>Forgot Password</mat-card-title></mat-card-header>
        <form name="form" #f="ngForm" *ngIf="!changePassword" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #ngemail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ngemail.errors }" />
                <div class="invalid-feedback" *ngIf="ngemail.errors && f.submitted">
                    <div *ngIf="ngemail.errors['required']">Email is required</div>
                    <div *ngIf="ngemail.errors['email']">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" mat-raised-button color="accent">Send Password Reset Instructions</button>
            </div>
        </form>
        <form name="form" #pw="ngForm" *ngIf="changePassword" (ngSubmit)="pw.form.valid && onResetPasswordSubmit()"
            novalidate [appMatchPassword]="['newPassword', 'confirmPassword']">
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" name="newPassword" [(ngModel)]="profile.newPassword"
                    required minlength="6" #newPassword="ngModel"
                    [ngClass]="{ 'is-invalid': pw.submitted && newPassword.errors }" />
                <div class="invalid-feedback" *ngIf="newPassword.errors && pw.submitted">
                    <div *ngIf="newPassword.errors['required']">Password is required</div>
                    <div *ngIf="newPassword.errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="profile.confirmPassword"
                    required minlength="6" #confirmPassword="ngModel"
                    [ngClass]="{ 'is-invalid': pw.submitted && confirmPassword.errors }" />
                <div class="invalid-feedback" *ngIf="confirmPassword.errors && pw.submitted">
                    <div *ngIf="confirmPassword.errors['required']">Confirm Password is required</div>
                    <div *ngIf="confirmPassword.errors['matching']">Passwords do not match</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" mat-raised-button color="accent">Change Password</button>
            </div>
        </form>
    </mat-card>
</div>
    <ngx-loading [show]="loading"></ngx-loading>