<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let world of worlds">
            <td>{{ world.id }}</td>
            <td>{{ world.user.username }}</td>
            <td>{{ world.name }}</td>
            <td>{{ world.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
