<div class="jumbotron">
    <mat-card>
        <mat-card-title class="text-center">Worldbuilder</mat-card-title>
        <p class="lead">This is a simple worldbuilding app from start to finish.
            Create a world and its timeline and keep track of its characters all in one easy to manage system.</p>
        <hr class="my-4">
        <img class="img-responsive text-center" style="border-radius: 150px; margin: 0 auto; max-width:300px;"src="assets/images/WAHLHALLA-W.png">
        <p class="text-center">A product of Wahlhalla.</p>
    </mat-card>
</div>