
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="worldManagementMenu" aria-label="World Management Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="['./']" >{{ worldName }}</span>
  <span style="flex: 1 1 auto;"></span>
  <mat-menu #worldManagementMenu="matMenu">
    <button mat-menu-item [routerLink]="['actors']">
      <mat-icon>list</mat-icon>
      <span>Actors</span>
    </button>
    <button mat-menu-item [routerLink]="['races']">
      <mat-icon>list</mat-icon>
      <span>Races</span>
    </button>
    <button mat-menu-item [routerLink]="['languages']">
      <mat-icon>list</mat-icon>
      <span>Languages</span>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
<ngx-loading
[show]="resolving">
</ngx-loading>
  