
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['./']" >{{ worldName }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#worldManagementNavbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="worldManagementNavbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View/Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a [routerLink]="['races']" class="dropdown-item">Races</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<ngx-loading
[show]="resolving">
</ngx-loading>
  