<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li *ngIf="isLoggedIn" class="list-inline-item">
              <a routerLink="/world" class="btn btn-info">Create World</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/worlds" class="btn btn-info">Worlds</a>
                </li>
            <li class="list-inline-item">
              <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-info">Login</a>
                </li>
            <li *ngIf="!isLoggedIn" class="list-inline-item">
              <a routerLink="/register" class="btn btn-info">Register</a>
                </li>
           <li *ngIf="isLoggedIn" class="list-inline-item">
              <a href class="nav-link" class="btn btn-info" (click)="this.logout()">LogOut</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>