<div class="col-md-12">
    <mat-card>
      <form [formGroup]="form">
        <table>
          <tr>
            <td>
              <mat-card-header><mat-card-title>{{ isAddMode ? 'Create New Political System' : 'Update ' + politicalSystem.name }}</mat-card-title></mat-card-header>
            </td>
          </tr>
          <tr>
            <td>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" name="name" placeholder="Enter political system's name" formControlName="name" #name noWhitespace>
                    <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
                    <mat-error *ngIf="form.get('name')?.hasError('minlength')">Name must be at least 3 characters</mat-error>
                    <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Name must be at most 64 characters</mat-error>
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput name="description" placeholder="Enter political system's description" #description formControlName="description" noWhitespace></textarea>
                  <mat-error *ngIf="form.get('description')?.hasError('required')">Description is required</mat-error>
                  <mat-error *ngIf="form.get('description')?.hasError('minlength')">Description be at least 3 characters</mat-error>
                  <mat-error *ngIf="form.get('description')?.hasError('maxlength')">Description be at most 1024 characters</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
                <mat-form-field >
                    <mat-label>Type</mat-label>
                    <mat-select name="type" required #type formControlName="type">
                        <mat-option *ngFor="let type of types" [value]="type">
                            {{type[0].toUpperCase() + type.substr(1).toLowerCase()}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('type')?.hasError('required')">Type is required</mat-error>
                </mat-form-field>
            </td>
        </tr>
        </table>
        <div class="form-group">
          <button mat-raised-button color="accent" (click)="onSubmit()" type="submit">Submit</button>
        </div>
      </form>
    </mat-card>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>